<div class="row">
    <div class="card col-xs-12" style="width: 100%">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="card-img-top img-responsive" style="height: 100%; width: 100%">

        <div class="card-body">
            <h1 class="card-title">{{ recipe.name }}
                <div class="btn-group pull-right" appDropdown>

                    <button type="button" class="btn btn-primary dropdown-toggle">
                        Manage Recipe <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping list</a></li>
                        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                    </ul>

                </div>
            </h1>

            <div class="card-text">
                {{ recipe.description }}
            </div>
        </div>

        <br>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                <p>{{ingredient.name}}<span class="badge" style="background-color: #4CAF50;">{{ingredient.amount}}</span></p>
            </li>
        </ul>

    </div>
</div>