<a  
    style="cursor: pointer;"
    [routerLink] = "[index]"
    routerLinkActive="active"
    class="list-group-item clearfix">
    <div class="card">
        <div class="card-body">
            <div class="pull-left">
                <h4 class="card-title list-group-item-heading">{{recipe.name}}</h4>
                <p class="card-text list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="pull-right">
                <img [src]="recipe.imagePath" 
                alt={{recipe.name}} 
                class="img-responsive" 
                style="max-height: 50px;">
            </span>
        </div>
    </div>
</a>
<div style="padding-bottom: 5px;"></div>